.install-doc * {
  text-wrap: wrap;
}

.install-doc h1,h2,h3,h4 {
  margin-left:30px;
  margin-right:30px;
}

.install-doc code {
  font-family: system-ui;
}

.install-container h1 {
  text-align: left;
}



@media screen and (min-width: 1000px) {
  .install-doc pre {
    margin-left:50px;
    margin-right:50px;
  }
}
/*  */
/* @media screen and (max-width: 1000px) { */
/*   .install-doc pre { */
/*     margin-left:0px; */
/*     margin-right:0px; */
/*   } */
/* } */

.ReactCollapse--collapse {
  border-radius: 10px;
  transition: height 250ms;
}

.collapse-section > h1 {
}

.collapse-section > button {
  background-color: #00000000;
  border: 2px solid #00000000;
  cursor: pointer;
}
