.install-doc * {
  text-wrap: wrap;
  font-weight: 500;
}

.install-doc h1,h2,h3,h4 {
  margin-left:30px;
  margin-right:30px;
}

.install-doc code {
  font-family: system-ui;
}

i.install-doc h1 {
}

@media screen and (min-width: 1000px) {
  .install-doc pre {
    margin-left:50px;
    margin-right:50px;
  }
.install-container {
  width: 70%;
}
}

/* @media screen and (max-width: 1000px) { */
/*   .install-doc pre { */
/*     margin-left:0px; */
/*     margin-right:0px; */
/*   } */
/* } */

.ReactCollapse--collapse {
  border-radius: 10px;
  transition: height 150ms;
  border: 2px solid var(--color-2);
  padding: 0 10px;
}

/* .collapse-section > button> h1 { */
/*   padding: 0; */
/*   margin: 0; */
/* } */

.collapse-section > button {
  background-color: #00000000;
  border: 2px solid #00000000;
  cursor: pointer;
  padding: 0;
}
