.install-doc * {
  text-wrap: wrap;
}

.ReactCollapse--collapse {
  border-radius: 10px;
  transition: height 250ms;
}

.collapse-section > h1 {
}

.collapse-section > button {
  background-color: #00000000;
  border: 2px solid var(--color-3);
  cursor: pointer;
}

