.pack-description {
  text-align: center;
}

.pack-description > ul {
  list-style: none;
}

.slider-container {
  padding: 70px 0;
}

.category-slider > p {
  position: relative;
  bottom: 90px;
}

.category-slider > .carousel {
  position: relative;
  bottom: 30px;
}

@media screen and (min-width: 1000px) {
  .category-sliders-container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 10vw;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .category-sliders-container {
    width: 100%;
    display: grid;
    grid-template-rows: 200px 200px;
    row-gap: 14vw;
    justify-content: center;
  }

  .breakdown-message {
    display: none;
  }

  .category-sliders-container > .category-slider {
    max-width: 85vw;
  }
}

.category-sliders-container * {
  text-align: center;
}

