.media-card {
  display: inline-block;
  max-width: 100%;
  color: var(--color-4);
}

.desc-overlay {
  position: relative;
  background-color: #11111177;
  z-index: 1;
  margin: 0;
  padding: 0;
  bottom: 3.25rem;
  height: 3rem;
  display: grid;
  align-content: center;
}

.desc {
  padding-right: 1rem;
  padding-left: 1rem;
}

