:root {
  --bg: #040D12;
  --color-2: #183D3D;
  --color-3: #5C8374;
  --color-4: #93B1A6;
}

body {
  background: var(--bg);
  color: white;
}

h1 {
  color: var(--color-3)
}

h2 {
  color: var(--color-2)
}

.hero-card {
  background-image: url("./files/pictures/falloutanomalybanner.webp");
  height: 300px;
  width: 100vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-title {
  margin: 0rem;
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar {
  border: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.navbar-tab {
  margin: 2px;
  text-align: center;
  border: 2px solid #00000000;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-4);
  font-size: 24pt;
  font-weight: 900;
  background-color: var(--bg);
}

.main-content {
  padding-left: 40px;
  padding-right: 40px;
}
