
:root {
  --bg: #040D12;
  --color-2: #183D3D;
  --color-3: #5C8374;
  --color-4: #93B1A6;
}

body {
  background: var(--bg);
  color: white;
}

h1 {
  color: var(--color-3)
}

h2 {
  color: var(--color-2)
}

.hero-card {
  background-image: url("https://staticdelivery.nexusmods.com/mods/1151/images/74075/74075-1692635744-1045126323.png");
  height: 300px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-title {
  height: 100%;
  margin: 0rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar {
  border-bottom: 2px solid #000000;
  padding: 0.1rem 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-tab {
  margin: 2px;
  text-align: center;
  border: 2px solid #00000000;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-4);
  font-size: 24pt;
  font-weight: 900;
  background-color: #00000000;
}

.main-content {
  padding: 0 10rem;
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 12px;;
  }
}
